@media (max-width: 768px) {
  .search-container {
    flex-direction: column;
    gap: 20px;
    text-align: center;
  }

  .searchbar {
    width: 100%;
    max-width: 400px;
  }
}

@media (max-width: 768px) {
  .body {
    flex-direction: column;
    flex-flow: column-reverse;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .poster {
    width: 100%;
    max-width: 1000px;
  }

  .main-contents {
    padding: 15px;
  }
  h1 {
    font-size: 3rem;
  }

  .introduction {
    font-size: 1.8rem;
  }

  p {
    font-size: 1.4rem;
  }

  .genre-list,
  .production-list,
  .release-details {
    font-size: 1.4rem;
  }

  .date,
  .durations,
  .profit,
  .points {
    font-size: 2rem;
  }
}

@media (max-width: 768px) {
  .footer span {
    flex-direction: column;
    text-align: center;
    padding: 10px 0;
  }
}
