html {
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background-image: url(https://image.tmdb.org/t/p/original/l33oR0mnvf20avWyIMxW02EtQxn.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  margin: 0;
}

.outer-container {
  background-image: linear-gradient(
    rgba(0, 0, 0, 0.6) 15%,
    rgba(0, 0, 0, 0.2) 40%,
    #000 90%
  );
}

.search-container {
  padding: 30px 50px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-family: lato, sans-serif;
}

.logo {
  max-width: 100%;
  width: 150px;
}

.searchbox {
  position: relative;
}

.searchbar {
  font-family: lato, sans-serif;
  font-size: 1rem;
  line-height: 1.25;
  color: #ccc;
  max-width: 100%;
  width: 420px;
  border: none;
  background: none;
  border-bottom: 2px solid #808080;
}

.searchbar:focus {
  outline: none;
}

.search-bar-output {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 1000;
  border: 1px solid #ccc;
  max-height: 300px;
  overflow-y: auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-family: "Lato", sans-serif;
  font-size: 20px;
  color: #fafafa;
}
.search-bar-output:hover {
  cursor: pointer;
}

.main-contents {
  display: flex;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.7);
  margin: 0 auto;
  max-width: 1000px;
}

.description {
  max-width: 500px;
  padding: 5px 50px;
}

.poster {
  width: 100%;
  max-width: 400px;
}

h1 {
  margin: 0.67em 0;
  margin-bottom: 0.5rem;
  font-size: 2.5rem;
  line-height: 1.1;
  font-family: lato, sans-serif;
  color: #fafafa;
}

.introduction {
  display: block;
  font-family: oswald, sans-serif;
  color: #00fc87;
  padding-bottom: 0.25em;
  font-size: 1.3em;
}

p {
  font-family: lato, sans-serif;
  color: #fafafa;
  margin-top: 0;
  margin-bottom: 1rem;
  font-size: 1rem;
  line-height: 1.5;
}

.genre-list,
.production-list,
.release-details {
  font-family: oswald, sans-serif;
}

.genre-list {
  color: #00fc87;
  display: block;
  font-size: 1.4em;
  box-sizing: inherit;
  line-height: 1.5;
}

.production-list {
  display: block;
  color: #fafafa;
  margin-bottom: 20px;
  font-size: 1rem;
  line-height: 1.5;
}

.release-details {
  display: grid;
  grid-template-columns: auto auto;
  box-sizing: inherit;
  font-size: 1rem;
  line-height: 1.5;
}

.details {
  display: grid;
  color: #fafafa;
  font-size: 1rem;
  line-height: 1.5;
}

.date,
.duration,
.profit,
.points {
  color: #00fc87;
  font-size: 1.5rem;
}

footer {
  display: grid;
  text-align: center;
  justify-content: center;
  padding: 30px 0;
  width: 100%;
  font-family: lato, sans-serif;
  font-size: 1rem;
}

footer span {
  display: block;
  padding: 0 0 10px;
}

footer a {
  color: gray;
  transition: 0.7s;
  padding: 8px;
  text-decoration: none;
}

footer a:active,
footer a:hover {
  color: #00fc87;
  transition: 0.7s;
  text-decoration: underline;
}

.icon {
  width: 16px;
  height: 16px;
  margin-right: 8px;
  vertical-align: middle;
}
